* {
  -fx-font-family: "Figtree", sans-serif, bold;
}

.hbox {
  -fx-background-color: #8ec4e6;
  background-color: #8ec4e6;
}

.left-pane {
  -fx-background-color: #457b9d;
  background-color: #457b9d;
}

#title-label {
  -fx-font-weight: bold;

  -fx-font-size: 24px;
}

.header-label {
  -fx-font-weight: bold;
}

.condition-label {
  -fx-text-background-color: white;
}

.temperature-label {
  -fx-text-background-color: white;
  -fx-font-size: 20px;
}

.location-label {
  -fx-text-background-color: white;
  -fx-font-weight: bold;
}

.delete-button {
  -fx-background-color: transparent;
  -fx-text-background-color: white;
  -fx-font-size: 8px;
}
.location-box {
  -fx-background-color: #457b9d;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);

  -fx-background-radius: 10px;
  -fx-border-radius: 10px;
  -fx-text-background-color: white;
}
/* .stack-pane {
  -fx-background-color: #ff00bf;
}

* {
  -fx-font-family: "IBM Plex Sans", sans-serif;
}

#title-label {
  -fx-font-weight: bold;
  -fx-font-size: 48px;
}

#timer-label {
  -fx-font-size: 64px;
}

#mode-label {
  -fx-background-color: #00b3ff;
  -fx-text-fill: white;
  -fx-padding: 2px 5px 2px 5px;
  -fx-background-radius: 50px;

  -fx-border-radius: 50px;
} */

@font-face {
  font-family: "Figtree";
  src: url("Figtree.ttf");
}
