* {
  -fx-font-family: sans-serif, bold;
}

.hbox {
  -fx-background-color: #8ec4e6;
  background-color: #8ec4e6;
}

.left-pane {
  -fx-background-color: #457b9d;
  background-color: #457b9d;
}

#title-label {
  -fx-font-weight: bold;

  -fx-font-size: 24px;
}

.header-label {
  -fx-font-weight: bold;
}
/* .stack-pane {
  -fx-background-color: #ff00bf;
}

* {
  -fx-font-family: "IBM Plex Sans", sans-serif;
}

#title-label {
  -fx-font-weight: bold;
  -fx-font-size: 48px;
}

#timer-label {
  -fx-font-size: 64px;
}

#mode-label {
  -fx-background-color: #00b3ff;
  -fx-text-fill: white;
  -fx-padding: 2px 5px 2px 5px;
  -fx-background-radius: 50px;

  -fx-border-radius: 50px;
} */
